:root {
  --primary-color: #7126c9;
  --primary-blossom: rgb(184, 155, 221);

  --secondary-color: #4b576a;

  --turkish-color: rgb(26, 33, 47);

  --tertiary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--tertiary-color);
  font-family: "Barlow Semi Condensed", sans-serif;
}
h1,
h2 {
  margin: 0;
}
.testimonial-card {
  padding: 1.5em 2em 2.5em;
  background-color: rgb(115, 63, 199);
  border-radius: 0.5em;
  margin: 10px;
}
img {
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  max-width: 100%;
  display: block;
}
.graduate-testimonials {
  padding: 4em 2em;
}
.profile-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-name {
  color: var(--tertiary-color);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}
.profile-position {
  margin-top: 5px;
  color: var(--tertiary-color);
}
.testimonial-text {
  margin-top: 0.5em;

  font-weight: 600;
  color: var(--tertiary-color);
  font-size: 1.5em;
}
.testimonial-quote {
  margin-top: 1em;
  color: var(--primary-blossom);
}
@media (min-width: 768px) {
  .graduate-testimonials {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    padding: 6em 8em;
  }
  .card1 {
    grid-column: 1/3;
  }
  .card4 {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .card5 {
    grid-column: 4/5;
    grid-row: 1/-1;
  }
}
