* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
h1,
h2 {
  margin: 0;
}
.card {
  border: 1px solid black;
  padding: 1.5em 2em;
  background-color: rgb(115, 63, 199);
}
img {
  border-radius: 50%;
  border: 3px solid rgb(167, 117, 242);
}
.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.name {
  color: rgb(255, 248, 255);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
}
.position {
  margin-top: 5px;
  color: rgb(167, 117, 240);
}
